body {
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}

.page {
  /*width: 700px;*/
  margin: 10px auto;
}

.page-header {
  color: #eee;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid #eee;
}

.page-header small {
  color: #999;
}

.stick {
  position: sticky;
  top: 0px;
  width: 100%;
  padding: 10px 30px;
  z-index: 10;
}

.progress {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 9;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item p {
  margin-left: 25px;
  display: inline;
}

.separator {
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.shade {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  display: none;
}

.shade .container {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-top: 100px;
}

.code .btn-group {
  margin: 5px;
}

.result .container {
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  padding: none;
}
